/* You can add global styles to this file, and also import other style files */
body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dfe6e9;
}

a {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit;
}

body, ul {
    margin: 0;
}

input, input:focus, input:active {
    outline: none;
}

button, button:focus, button:active {
    outline: none;
}

* {
    box-sizing: border-box;
}
